* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.ewi-settings-container{
    box-sizing: border-box;
    background-color: #161B21;
    height: 100vh;
    width: 95%;
    padding-right: 2%;
    // display: flex;
}
