* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    // border: 1px solid red;
}
.portfolio-page-container{
    box-sizing: border-box;
    background-color: #161B21;
    min-height: 100vh;
    width: 95%;
    display: flex;
}

h2{ 
    color: #EEF0F4;
}


h3, h4 {
    font-size: 1rem;
    color: #DDE1E8;
    font-weight: 400;
}


.LHS-container {
    box-sizing: border-box;
    height: 100%;
    width: 46%;
    display: flex; 
    flex-direction:column;
    .total-assets-container {
        width: 100%;
        background-color: #1D232C;
        border-radius: 12px;
        
    }
    
    .profit-loss-container {
        width: 47.5%;
        background-color: #1D232C;
        border-radius: 12px;
    }


    .top-holdings-container {   
        background-color: #1D232C;
        height: 27%;
    }
    .high-prob-downward-mig-container {
        background-color: #1D232C;
        height: 27%;
    }
    .high-prob-upward-mig-container{
        background-color: #1D232C;
        height: 27%;
    }

    .table-title {
        font-size: 1.25rem;
        text-align: start;
    }
}

.RHS-container {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: flex; 
    flex-direction:column;
    border-radius: 15px;

    .yield-trend-graph-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        background-color: #1D232C;
        border-radius: 12px;
        height: 47%;
        
        
        .graph-container {
            box-sizing: border-box;
            flex-grow: 1;
            height: 100%;
        }
    }
    
    .what-if-container {
        box-sizing: border-box;
        background-color: #1D232C;
        border-radius: 12px;
        height: 47%;
        width: 100%;
        font-size: 1rem;
    }
}

.portfolio-page-container {
    padding: 1% 1%;
}
.portfolio-table-container {
    padding: 1% 1%;
    border-radius: 12px;
}